<%- include('./partials/head') %>

<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col">
      <% for (let post of posts) { %>
        <div class="card w-50 mt-4 mx-auto">
          <div class="card-body">
            <h5 class="card-title">
              <%= post.title %>
            </h5>
    
            <pre class="card-text">
<%= post.contents %>
            </p>
          </div>
    
          <div class="card-body">
            <button type="button" class="btn button-comment" data-article-id="<%= post.id %>">
              <i class="bi bi-chat-left-text" style="font-size: 1.5rem;"></i>
            </button>
            <b>
              (<%= post.comments.length %>)
            </b>


            <button type="button" class="btn button-like" data-article-id="<%= post.id %>">
            </button>
    
            <b>
              (<%= post.liked %>)
            </b>
          </div>
    
          <div class="card-footer text-muted">
            <div class="row align-items-center">
              <div class="col-9">
                <span class="h6 card-subtitle mb-2">
                  By: <%= post.author %> (<%= post.createdAt.toLocaleString() %>)
                </span>
              </div>

              <div class="col-3">
                <button type="button" class="btn button-edit" data-article-id="<%= post.id %>">
                  <i class="bi bi-pencil" style="font-size: 1.2rem;"></i>
                </button>
                <button type="button" class="btn button-delete" data-article-id="<%= post.id %>">
                  <i class="bi bi-trash" style="font-size: 1.2rem; color: red;"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</div>

<%- include('./partials/commentsModal') %>
<%- include('./partials/articleModal') %>
<%- include('./partials/deleteConfirmModal') %>
<%- include('./partials/editArticleModal') %>

<%- include('./partials/foot') %>